* {
	margin: 0;
	padding: 0;
	font-family: "宋体";
	font-size: 14px;
}
 li {
	list-style-type: none;
}
body {
	background: #eee;
}

.main {
	width: 980px;
	margin: 0 auto;
}
.header {
	width: 100%;
	height: 80px;
	background: gainsboro;
	position: relative;
}
#logo {
	font-family: "arial black";
	font-size: 30px;
	position: absolute;
	top: 18px;
	color: #fff;
}

.header-nav {
	float: right;
	margin-top: 59px;
	color: #fff;
}
nav li {
	display: inline;
	margin-left: 28px;
}
.github-logo {
    clear: both;
    float: right;
    margin: -32px 10px 0 0;
}

.banner {
	position: relative;
}
.banner img{
	width: 100%;
}
.banner-text {
    position: absolute;
    bottom: 5px;
    right: 100px;
    width: 300px;
    color: #fff;
    padding: 10px 10px 30px 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.14) 80%, rgba(255,255,255,0.11) 80%, rgba(255,255,255,0) 100%);
}
.banner-text p {
    clear: right;
    text-indent: 2em;
    font-size: 12px;
    line-height: 150%;
}
.banner-text h2 {
    float: right;
    margin-bottom: 12px;
}

.content {
	min-height: 600px;
	background: #f3f3f3;
}
.home-art {
	float: right;
	width: 320px;
	min-height: 460px;
	background: #FFFFFF;
	margin-top: 10px;
	padding-bottom: 25px;

}
.home-art:nth-child(2) {
    margin: 10px 10px 0 10px;
}
.home-art img {
	width: 300px;
	height: 180px;
	margin: 10px 10px 0 10px;
}
.excerpt {
	font-size: 12px;
	line-height: 170%;
	margin: 15px 30px 0 30px;
	text-indent: 2em;
}

.introduction {
	clear: both;
	text-align: center;
	position: relative;
	min-height: 600px;
}
.introduction img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	position: relative;
	top: -60px;
}
.name {
	font-family: "century gothic";
	font-size: 20px;
	margin-top: -10px;
	margin-bottom: 50px;
}
.introduction p {
	width: 600px;
	text-align: left;
	text-indent: 2em;
	margin: 0 auto;
	letter-spacing: 0.2em;
	line-height: 150%;
}

.footer {
	clear: both;
	color: #FFFFFF;
	background: #000;
}
.footer-nav {
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px #5F5F5F solid;
}
.links ul {
	float: left;
	margin-top: 30px;
}
.links ul:nth-child(n+2) {
	margin-left: 170px;
	margin-top: 30px;
}
.links li:nth-child(1) {
	margin-bottom: 20px;
}
.links li {
	margin-top: 10px;
}
.links li a {
	text-decoration: none;
	color: #fff;
}
.links li a:hover {
	text-decoration: underline;
}
.links {
	margin-bottom: 300px;
}

.copyright {
	clear: left;
	text-align: center;
}
.copyright p {
	margin-bottom: 15px;
}

.art-list {
	margin-top: 20px;
}
.container {
	width: 710px;
	float: left;
}
.art {
	background: #fff;
	margin-bottom: 10px;
	padding: 15px;
	position: relative;
}
.art-header h1 {
	font-size: 16px;
	color: #a660b7;
}
.art-header h2 {
	font-size: 12px;
	color: #666;
	margin-top: 5px;
}
.art-header {
	margin-top: 10px;
	margin-bottom: 15px;
}
.info {
    position: absolute;
    top: 10px;
    left: -49px;
    background: #a660b7;
    color: #fff;
}
.time {
    background: #522a5c;
    padding: 10px 10px;
    text-align: center;
}
.category {
    padding: 10px 10px;
    text-align: center;
}

.art-content p {
	font-size: 14px;
	text-indent: 2em;
	line-height: 150%;
}
.art-footer {
	margin-top: 25px;
	color: #ccc;
	text-align: right;
}

.sidebar {
	width: 260px;
	float: right;
}
.sidebar-base {
	background: #fff
}

.menu li {
	padding: 15px;
	border-left: 4px #A660B7 solid;
	border-bottom: 1px #ccc solid;
}
